/* Reset básico */
* { margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column; 
    gap: 10px;             
  }
  
  .linha1, .linha2{
    display: flex;          
    justify-content: flex-end; 
    align-items: center;
    padding: 10px;
    height: 160px;           
  }
  .linha3{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 160px;
  }
  .linha4{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 160px;
    gap: 500px;
}
  
  .linha1 {
    background-color: plum;
    align-items: end;
  }
  
  .linha2 {
    background-color: greenyellow;
  }

  .linha3 {
    background-color: coral;

  }

  .linha4{

background-color: gold;
  }
  
  .bolinha-roxo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: slateblue;
    margin-left: 20px;
  }
  
  .bolinha-verde {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: green;
    margin-left: 20px;
  }
  
  .bolinha-vermelha{
    width: 80px;
    height: 80px;
    border-radius:50% ;
    background-color: crimson;
    margin: 20px;
  }

  .bolinha-amarela{
    width: 80px;
    height: 80px;
    border-radius:50% ;
    background-color: yellow;
    margin: 20px;
  }
  